NEXT_PUBLIC_SPACE_ID="Your space ID"
NEXT_PUBLIC_ACCESS_TOKEN="your access token"
PREVIEW_ACCESS_TOKEN="Your preview access token"
PREVIEW_SECRET="Your Pewview secret"
NEXTAUTH_URL="your host"
AUTH_PLATZI_SECRET=pass

NEXTAUTH_SECRET=token

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=